services:
  postgres:
    image: postgres:16-alpine
    ports:
      - '5433:5432'
    environment:
      POSTGRES_USER: lazyhm
      POSTGRES_PASSWORD: lazyhm123
      POSTGRES_DB: lazyhamster
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: